<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, We Miss You!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                It's been a while since you last visited. We'd love to have you back!
            </p>
            <a href="{{frontUrl}}/login">Log In</a>
        </td>
    </tr>
</table>